table {
  width: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  font-family: "Arial";
  font-size: 15px;
}
.width {
    width: 25%;
}
th {
    color: black;
    background-color: #e6e6e6;
}
.bgcolor1 {
    background-color: #ffad33;
}
.bgcolor2 {
    background-color: #cc0000;
    color: white;
}
.bgcolor3 {
    background-color: #ffad33;
}
.bgcolor4 {
    background-color: #cc0000;
    color: white;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
caption {
    caption-side: bottom;
    font-size: 25px;
    padding: 8px;
    font-family: "Arial";
}